html, 
body {
    height: 100%;
    margin: 0;
    font-size: 16px;
}
body input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #656da5;
    border-radius: 4px;
    box-sizing: border-box;
}
span{
    margin: 20px;
}
i{
    color: #d60000;
    cursor: pointer;
}
.mn-list-header{
    display: inline-block;
    text-align: center;
    margin: 10px 0px;
    font-weight: bold;
}
.mn-list-item{
    border-bottom: solid 1px #d0cdcd;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.mn-button {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  padding: 10px 20px;
  font-size: 16px;
}
.mn-button:hover {
  background-color: #4CAF50;
  color: white;
}
.mn-error{
    color: red;
}
.mn-grid-5{
    width: 49%;
    display: inline-block;
    padding: 20px;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
}
@media only screen and  (max-width:768px){
.mn-grid-5{
    width: 100%;
}
}